body {
    background-image: url(Resources/assets/weather.png);
    height: 850px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }
  
  /* Navbar */
  .navbar {
    max-height: 60px;
  }
  .navigation .navbar-brand {
    color:  #213159;
    margin-left: 0px;
    padding: inherit;
    font-weight: bold;
    background-color: #f5803c;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }
  .navbar {
    background-color:#f5803c;
    font-size: 25px; 
    font-weight: bold;
  }
  .active, .dropdown-menu .dropdown-item:active a:hover {
    background-color: #f5803c !important;
  }
  .dropdown-item {
    color: #213159 !important;
    font-weight: bold;
  }
  .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #f5803c !important;
  }
  
  .nav-link:hover {
    background-color:#f5803c !important;
    border-color:#213159;
   }
  
  .navbar-brand:hover {
  color: #213159 !important;
  }
  
  a {
    color: #f5803c;
    font-size: 15px;
  }
  
  /* Images */
  img{
    width: 100% !important;
    height: 100% !important;
 }

  .active, .panel:hover {
    border-color:#213159;
    border-style: solid;
   
  }
  .vizualization {
    width:100% !important;
    height:100% !important;
  }

 .zoom {
    padding: 0px;
    background-color: transparent;
    transition: transform .2s;
    width: 50%; 
    height: 50%;
    margin: 0 auto;
  }
.zoom:hover {
    transform: scale(1.15);
}

  /* Title */
  .title {
    color: #213159;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 10px;
  }
  
  /* Paragraph */
  p {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  }
  
  /* Box */
  .box {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 10px 30px 10px;
    color: #213159;
    background-color: white;
  
  }
  /* Table */
  .table {
    font-size: 15px;
    border-top-color: white !important;
  }
  
  /* Footer */
  footer {
  background-color: #213159;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #f5803c;
  color: white;
  min-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  }
  
  /* Media Queries */
  @media(max-width: 992px) {
    .navbar-expand-lg {
    background-color: #213159 !important;
    }
    .navbar {
      max-height: none;
      padding: inherit;
    }
    .navbar div {
      margin: inherit;
      background-color: white;
    }
    .navbar-brand {
      padding: 10px !important;
    }
    button{
      margin-right: 30px;
    }
    button:focus {
      outline: 1px dotted;
      outline: auto 5px;
    }
  }